.slider {
    margin: 10px 20px 0px 20px;
}
.switch {
    margin: 10px 20px 0px 20px;
}
.label {
    display: table-cell;
    margin-right: 20px;
}
.value {
    display: table-cell;
    margin-left: 20px;
}
.row
{
    display: table-row;
}
.modelabel {
    font-size: 75%;
}
.plot {
    width: 700px;
    height: 500px;
}
.inlineformula {
    padding-left: 10em;
    padding-top: 1ex;
    padding-bottom: 1ex;
    height: 5ex;
    position: absolute;
}
.dummyformula {
    height:7ex;
    display: table-cell;
}